<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>User page</title>
</head>
<body>
  <p><%= user_name %></p>
<form id="f1" action="/" method="post">
<p>Text: <input type="text" name="hihi" /></p>
<p>Submit: <button type="submit">Submit</p>
</form>
</body>
</html>